<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Basic Test Suite">
    <listeners>
        <listener class-name="com.selenium.tests.listener.AllureListener"/>
    </listeners>
    <test name="Functional Tests">
        <classes>
            <class name="com.selenium.tests.SauceLoginTest"/>
            <class name="com.selenium.tests.SauceCartTest"/>
        </classes>
    </test>
</suite>